# Keycloak (for API & web)
KC_URL=http://localhost:8080
KC_REALM=universal
KC_AUDIENCE=api

# Postgres (for manual DB connection)
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=change_me_db
POSTGRES_DB=keycloak
